* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-inline-size: 100%;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #070707;
    padding: 3rem;
    background: fixed linear-gradient(#070707, #070707 6px, transparent 6px, transparent),
        fixed linear-gradient(transparent, #fff 90%),
        fixed repeating-linear-gradient(#efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px),
        fixed repeating-linear-gradient(to right,
            #efefef,
            #efefef 1px,
            transparent 1px,
            transparent 40px) white;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.5;
    text-align: center;
    margin-block-end: 1em;
}

.collage {
    max-width: 800px;
    margin-inline: auto;
    display: grid;
    gap: 0.5rem;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);

    grid-template-areas:
        "..   two two    two    three  four ..    .."
        "one  two two    two    five   five six   .."
        "..   two two    two    five   five seven eight"
        "nine ten eleven eleven twelve ..   ..    .."
        "..   ..  eleven eleven ..     ..   ..    ..";
}

.collage>div {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: -1px 6px 65px 11px rgba(0, 0, 0, 0.1);
}

.collage img {
    width: 100%;
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    transition: 0.35s ease-in-out;
}

.collage img:hover {
    scale: 1.15;
    rotate: -3deg;
}

.collage :nth-child(1) {
    grid-area: one;
}

.collage :nth-child(2) {
    grid-area: two;
}

.collage :nth-child(3) {
    grid-area: three;
}

.collage :nth-child(4) {
    grid-area: four;
    background-color: #ffecc3;
    border-bottom-right-radius: 100%;
}

.collage :nth-child(5) {
    grid-area: five;
}

.collage :nth-child(6) {
    grid-area: six;
    background-color: #ccf0ee;
    border-top-right-radius: 100%;
}

.collage :nth-child(7) {
    grid-area: seven;
}

.collage :nth-child(8) {
    grid-area: eight;
    background-color: #cdd7f0;
    border-radius: 100%;
}

.collage :nth-child(9) {
    grid-area: nine;
    background-color: #ffdce0;
    border-top-left-radius: 100%;
}

.collage :nth-child(10) {
    grid-area: ten;
}

.collage :nth-child(11) {
    grid-area: eleven;
}

.collage :nth-child(12) {
    grid-area: twelve;
}